/* Defining Variables and global styling */

:root {
    --primary-clr-100: hsl(158, 36%, 37%);
    --primary-clr-300: hsl(30, 38%, 92%);
    
    --neutral-clr-100: hsl(212, 21%, 14%);
    --neutral-clr-300: hsl(228, 12%, 48%);
    --neutral-clr-500: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 14px "Montserrat";
}

body {
    background-color: var(--primary-clr-300);
    color: var(--neutral-clr-300);
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20%;
}

h1 {
    font-size: 24px;
    font-family: "Fraunces";
    color: var(--neutral-clr-100);
}

.subtitle {
    text-transform: uppercase;
    letter-spacing: 6px;
}

.green-text {
    color: var(--primary-clr-100);
}

.container {
    background-color: var(--neutral-clr-500);
    max-height: 100vh;
    border-radius: 0.5rem;
}

.image {
    height: 40vh;
    border-radius: 0.5rem;
}

.image>img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.preview {
    display: flex;
    flex-direction: column;
    grid-area: "preview";
    padding-top: 1rem;
}

.large-text {
    padding-top: 1rem;
}

.description {
    grid-area: "description";
}

.cta {
    grid-area: "cta";
    display: flex;
    flex-direction: column;
    
}

.content {
    height: 60vh;
    position: relative;
    padding: 0 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "preview" 
        "description" 
        "cta"
    ;
}

.price {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

.current-price {
    font-size: 24px;
    font-weight: bold;
    font-family: "Fraunces";
    color: var(--primary-clr-100);
    width: 33%;
    grid-column: 1;
}

.normal-price {
    grid-column: 2;
    text-decoration: line-through;
    width: 33%;
    bottom: 25%;
    left: 10%;
    position: absolute;
}

.perfume-desktop {
    display: none;
}

.perfume-mobile {
    display: block;
}

.add {
    font: 16px "Montserrat";
    font-weight: bold;
    height: 3rem;
    background-color: var(--primary-clr-100);
    color: var(--neutral-clr-500);
    border-radius: 1rem;
    border-style: none;
    margin-top: 1rem;
    width: 100%;
    transition: background-color 0.5s ease-in-out;
}

.add:hover, .add:active {
    background-color: rgb(30, 65, 52);
}



/* Attribution Styles */
footer {
    padding-top: 1rem;
}
.attribution { font-size: 11px; text-align: center; padding-top: 2rem;}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 992px){

    * {
        font-size: 16px;
    }

    body {
        padding: 12rem 30rem;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 1rem;
    }

    .container {
        display: flex;
        flex-direction: row;
        max-height: max-content;
        position: relative;
    }
    
    .preview {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content {
        height: 100%;
        width: 100%;
        margin: 10% auto;
    }

    .image {
        height: 100%;
        width: 100%;
    }

    image>img {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-top-right-radius: none;
        border-bottom-right-radius: none;
    }

    .perfume-desktop {
        display: block;
    }

    .perfume-mobile {
        display: none;
    }

    .large-text {
        font-size: 2.5rem;
    }

    .cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .description {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.5rem;
        letter-spacing: 2px;
    }
}
